name: Publish Multi-Arch Docker
on:
  push:
    branches: [main]

env:
  ZSDK_VERSION: 0.17.4

jobs:
  ci-image:
    uses: ./.github/workflows/build-logic.yml
    with:
      image_name: zephyr-ci
      dockerfile: ./Dockerfile.ci
      zsdk_version: ${{ env.ZSDK_VERSION }}
      push_latest: ${{ github.ref == 'refs/heads/main' }}

  dev-image:
    needs: ci-image
    uses: ./.github/workflows/build-logic.yml
    with:
      image_name: zephyr-dev
      dockerfile: ./Dockerfile.dev
      zsdk_version: ${{ env.ZSDK_VERSION }}
      base_image_tag: ghcr.io/${{ github.repository }}/zephyr-ci:zsdk_v${{ env.ZSDK_VERSION }}
      push_latest: ${{ github.ref == 'refs/heads/main' }}

  nordic-image:
    needs: dev-image
    uses: ./.github/workflows/build-logic.yml
    with:
      image_name: zephyr-dev-nordic
      dockerfile: ./Dockerfile.dev_nordic
      zsdk_version: ${{ env.ZSDK_VERSION }}
      base_image_tag: ghcr.io/${{ github.repository }}/zephyr-dev:zsdk_v${{ env.ZSDK_VERSION }}
      push_latest: ${{ github.ref == 'refs/heads/main' }}